body {
				padding-left: llem;
				font-family: "Times New Roman", serif;
				color: red;
				background-color: #d8da3d;
				}
		h1 {
				font-family: Helvetica, Geneva, Arial, sans-serif;
				}
		p{
				background:yellow; color: black;
				font-family: "Comic Sans Ms";
				border: solid blue; border-width: 0.5in;
				}
	</style>
</head>
<body>