.estilo1 { padding-left: 11em;
		font-family: "Times New Roman";
		color: red;
		background-color: #d8da3d;
		}
		
.estilo2 { background: yellow; color: black;
		font-family: "Comic Sans Ms";
		border: solid blue 0.5in;
		}
		
