body {
margin: 200px;
color: red; 
background-color: silver;
font-family: Arial; }

h1 { 
border: 5px solid red;
margin-right: 300px;
color:white;
word-spacing: 30px;
font-family:"Comic Sans Ms";
padding: right;
}

h3 {
margin-right: 300px;
font-style:italic;
text-transform:lowercase;
font-family:Tahoma; 
text-align: right;}

p {
padding-bottom: 10px;
padding-top: 10px;
border:10px solid blue;
text-align: center;
width: 250px;
background-color:olive; }

ul {
width: 200px;
background-color:purple; }

