body {
margin-left: 12em;
color: Purple; 
background-color: #d8da3d;
font-family: Arial; }

h1 { 
margin-right: 100px;
word-spacing: 20px;
font-family:"Comic Sans Ms";
}

p {
margin-right: 30em;
padding: 10px;
border:10px solid brown;
border-width: 5px;
text-align: left;
color: black;
background-color: plum; }


ul {
padding: 0px;
margin:0px;
position: fixed;
left: 50px;
top: 100px;}

img {
float: right;
margin-right: 50px;
width: 400px;
height:300px;}