ul,ul li{margin:0;padding:0;list-style:none;}

h1,h2,h3,p,form{margin:0;padding:0;}
#cabecera,#menu,#lateral,#contenido,#contenido #principal,#contenido #secundario,#pie{border:2px solid #777;}

#cabecera{clear:both;}

#cabecera #logo{float:left;}

#cabecera #buscador{float:right;}

#menu{clear:both;}

#menu ul#menu_principal li{display:inline;float:left;}

.clear{clear:both;}

#contenido{float:right;width:78%;}

#contenido #principal{float:left;width:78%;}

#contenido #secundario{float:right;width:20%;}
img{border:none;}

#contenido #principal .articulo img{width:100px;float:left;}

#contenedor{width:90%;max-width:700px;margin:0 auto;}

#lateral{float:left;width:20%;}

#pie{clear:both;}

#pie .enlaces{float:left;}#pie .DERECHOS{float:right;}